In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import rc
rc('font', family='Malgun Gothic')
rc('axes', unicode_minus=False)

In [2]:
import datetime
import os
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

In [12]:
date_today = datetime.date.today()
date_key = date_today.strftime('%y%m%d')

#### 종목 코드 save by market

In [8]:
market_code = 'stockMkt'
# 'kospi': 'stockMkt',
# 'kosdaq': 'kosdaqMkt',
# 'konex': 'konexMkt'

In [9]:
sto_code_url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=' + market_code

In [15]:
sto_code_df = pd.read_html(sto_code_url)[0]
sto_code_df[:5]

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,JS전선,5560,절연선 및 케이블 제조업,"선박선,고무선,전력선,통신선 제조",2007-11-12,12월,이익희,http://www.jscable.co.kr,충청남도
1,거북선2호,101380,NaN,운송장비(선박) 임대,2008-04-25,12월,신주선,NaN,부산광역시
2,거북선6호,114140,NaN,NaN,2009-10-01,12월,김연신,NaN,제주특별자치도
3,교보메리츠,64900,NaN,"부동산 투자,운용",2002-01-30,12월,김 상 진,NaN,서울특별시
4,국제관광공사,28780,NaN,NaN,1966-03-18,12월,NaN,NaN,NaN

In [18]:
save_n_code_df = ('data/code_list/' + 'code_list_' + market_code + '_' + date_key + '.csv').strip()
save_n_code_df

'data/code_list/code_list_stockMkt_190730.csv'

In [19]:
sto_code_df.to_csv(save_n_code_df, encoding='euc-kr', index=False) #cp949
print('save >> ' + save_n_code_df)

save >> data/code_list/code_list_stockMkt_190730.csv

#### 종목코드 load

In [23]:
os.listdir('data/code_list')

['code_list_190728.csv',
 'code_list_190729.csv',
 'code_list_190730.csv',
 'code_list_stockMkt_190730.csv']

In [24]:
select_file_code_df = ('data/code_list/' + os.listdir('data/code_list')[-1])
select_file_code_df

'data/code_list/code_list_stockMkt_190730.csv'

In [25]:
sto_code_df = pd.read_csv(select_file_code_df, encoding='euc-kr')
sto_code_df[:3]

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,JS전선,5560,절연선 및 케이블 제조업,"선박선,고무선,전력선,통신선 제조",2007-11-12,12월,이익희,http://www.jscable.co.kr,충청남도
1,거북선2호,101380,NaN,운송장비(선박) 임대,2008-04-25,12월,신주선,NaN,부산광역시
2,거북선6호,114140,NaN,NaN,2009-10-01,12월,김연신,NaN,제주특별자치도

In [27]:
sto_code_df['종목코드'] = sto_code_df['종목코드'].map('{:06d}'.format)

In [59]:
sto_code_sort = sto_code[['회사명', '종목코드']]
sto_code_sort = sto_code_sort.append({'회사명' : 'KOSPI', '종목코드' : 'KOSPI'}, ignore_index=True)
sto_code_sort[-5:]

        회사명    종목코드
3729     툴젠  199800
3730     틸론  217880
3731  판도라티비  202960
3732  한국비엔씨  226610
3733  KOSPI   KOSPI

In [60]:
sto_code_sort.shape

(3734, 2)

#### sise

In [29]:
def last_page_finder(html):
    page_pkg = html.find_all("table",align="center")
    last_page_pkg = page_pkg[0].find_all("td",class_="pgRR")[0].a.get('href')
    last_page_num = int(last_page_pkg.split("=")[-1].strip())
    return last_page_num

In [114]:
# major impormation

In [ ]:
#  #  KOSPI, KOSDAQ, KOSPI200,

In [ ]:
https://finance.naver.com/sise/sise_index.nhn?code=KOSPI
https://finance.naver.com/sise/sise_index.nhn?code=KOSDAQ
https://finance.naver.com/sise/sise_index.nhn?code=KPI200

In [168]:
import requests
import json

In [141]:
uuu = 'https://finance.naver.com/world/worldDayListJson.nhn?symbol=DJI@DJI&fdtc=0&page=1'

In [172]:
aaa = json.loads(requests.get(uuu).text)
aaa

[{'symb': 'DJI@DJI',
  'xymd': '20190729',
  'open': 27192.24,
  'high': 27275.85,
  'low': 27178.06,
  'clos': 27221.35,
  'diff': 28.9,
  'rate': 0.11,
  'gvol': 259316069},
 {'symb': 'DJI@DJI',
  'xymd': '20190726',
  'open': 27166.0,
  'high': 27213.7,
  'low': 27123.25,
  'clos': 27192.45,
  'diff': 51.47,
  'rate': 0.19,
  'gvol': 243198930},
 {'symb': 'DJI@DJI',
  'xymd': '20190725',
  'open': 27247.39,
  'high': 27298.43,
  'low': 27062.48,
  'clos': 27140.98,
  'diff': -128.99,
  'rate': -0.47,
  'gvol': 244021675},
 {'symb': 'DJI@DJI',
  'xymd': '20190724',
  'open': 27262.24,
  'high': 27291.04,
  'low': 27191.12,
  'clos': 27269.97,
  'diff': -79.22,
  'rate': -0.29,
  'gvol': 245881077},
 {'symb': 'DJI@DJI',
  'xymd': '20190723',
  'open': 27231.86,
  'high': 27368.81,
  'low': 27204.58,
  'clos': 27349.19,
  'diff': 177.29,
  'rate': 0.65,
  'gvol': 250797407},
 {'symb': 'DJI@DJI',
  'xymd': '20190722',
  'open': 27174.18,
  'high': 27227.77,
  'low': 27088.9,
  'clos': 27171.9,
  'diff': 17.7,
  'rate': 0.07,
  'gvol': 226949931},
 {'symb': 'DJI@DJI',
  'xymd': '20190719',
  'open': 27246.38,
  'high': 27342.96,
  'low': 27145.78,
  'clos': 27154.2,
  'diff': -68.77,
  'rate': -0.25,
  'gvol': 287691866},
 {'symb': 'DJI@DJI',
  'xymd': '20190718',
  'open': 27191.98,
  'high': 27266.81,
  'low': 27068.79,
  'clos': 27222.97,
  'diff': 3.12,
  'rate': 0.01,
  'gvol': 218821655},
 {'symb': 'DJI@DJI',
  'xymd': '20190717',
  'open': 27320.91,
  'high': 27343.06,
  'low': 27218.38,
  'clos': 27219.85,
  'diff': -115.78,
  'rate': -0.42,
  'gvol': 196775910},
 {'symb': 'DJI@DJI',
  'xymd': '20190716',
  'open': 27349.32,
  'high': 27398.68,
  'low': 27290.24,
  'clos': 27335.63,
  'diff': -23.53,
  'rate': -0.09,
  'gvol': 225998674}]

In [173]:
pd.DataFrame(aaa)

,clos,diff,gvol,high,low,open,rate,symb,xymd
0,27221.35,28.90,259316069,27275.85,27178.06,27192.24,0.11,DJI@DJI,20190729
1,27192.45,51.47,243198930,27213.70,27123.25,27166.00,0.19,DJI@DJI,20190726
2,27140.98,-128.99,244021675,27298.43,27062.48,27247.39,-0.47,DJI@DJI,20190725
3,27269.97,-79.22,245881077,27291.04,27191.12,27262.24,-0.29,DJI@DJI,20190724
4,27349.19,177.29,250797407,27368.81,27204.58,27231.86,0.65,DJI@DJI,20190723
5,27171.90,17.70,226949931,27227.77,27088.90,27174.18,0.07,DJI@DJI,20190722
6,27154.20,-68.77,287691866,27342.96,27145.78,27246.38,-0.25,DJI@DJI,20190719
7,27222.97,3.12,218821655,27266.81,27068.79,27191.98,0.01,DJI@DJI,20190718
8,27219.85,-115.78,196775910,27343.06,27218.38,27320.91,-0.42,DJI@DJI,20190717
9,27335.63,-23.53,225998674,27398.68,27290.24,27349.32,-0.09,DJI@DJI,20190716

In [75]:
basic_item = ['KOSPI']

In [105]:
interest_item = ['삼성전자']

In [106]:
input_item = basic_item + interest_item
input_item

['KOSPI', '삼성전자']

In [107]:
input_code = list(sto_code_sort[sto_code_sort['회사명'].isin(input_item)]['종목코드'].values)
input_code

['005930', 'KOSPI']

In [103]:
def sise_exporter(code) :
    sise_df = pd.DataFrame()
    sise_url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=' + code
    sise_html = BeautifulSoup(urlopen(sise_url).read(), 'lxml') #html.parser
    last_page_num = last_page_finder(sise_html)
    for i in range(1, last_page+1) :
        page_url = (f'{sise_url}&page={i}')
        sise_df = sise_df.append(pd.read_html(page_url, header=0)[0], ignore_index=True)
        sise_df = sise_df.dropna(axis=0)
    return sise_df

005930

In [109]:
sise_url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=005930'
sise_url

'https://finance.naver.com/sise/sise_index_day.nhn?code=005930'

In [110]:
sise_html = BeautifulSoup(urlopen(sise_url).read(), 'lxml')
sise_html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="/css/newstock.css?20190730011942" rel="stylesheet" type="text/css"/>
<link href="/css/common.css?20190730011942" rel="stylesheet" type="text/css"/>
<link href="/css/layout.css?20190730011942" rel="stylesheet" type="text/css"/>
<link href="/css/main.css?20190730011942" rel="stylesheet" type="text/css"/>
<link href="/css/newstock2.css?20190730011942" rel="stylesheet" type="text/css"/>
<link href="/css/newstock3.css?20190730011942" rel="stylesheet" type="text/css"/>
<link href="/css/world.css?20190730011942" rel="stylesheet" type="text/css"/>
</head>
<body>
<script src="/js/jindo.min.ns.1.5.3.euckr.js?20190730011942" type="text/javascript"></script>
<script src="/js/lcslog.js?20190730011942" type="text/javascript"></script>
<!-- 일별시세 -->
<div class="box_type_m">
<h4 class="top_tlt" style="text-align:left;"><em>일별</em>시세</h4>
<table cellpadding="0" cellspacing="0" class="type_1" summary="일별 시세표:날짜에 따른 체결가 전일비 등락률 거래량 거래대금 정보를 제공합니다.">
<caption>일별시세</caption>
<col width="15%"/><col width="14%"/><col width="18%"/><col width="14%"/><col width="*"/><col width="18%"/>
<tr>
<th>날짜</th>
<th>체결가</th>
<th>전일비</th>
<th>등락률</th>
<th>거래량<span class="add_txt">(천주)</span></th>
<th>거래대금<span class="add_txt">(백만)</span></th>
</tr>
<tr><td class="blank_07" colspan="6"></td></tr>
<tr>
<td class="date"></td>
<td class="number_1">0.00</td>
<td class="rate_down" style="padding-right:35px;">
<span class="tah p11 gray01">0</span>
</td>
<td class="number_1">
<span class="tah p11 gray01">0.00%</span>
</td>
<td class="number_1" style="padding-right:40px;"></td>
<td class="number_1" style="padding-right:30px;"></td>
</tr>
<tr>
<td class="date"> </td>
<td class="number_1"> </td>
<td class="rate_down" style="padding-right:35px;"> </td>
<td class="number_1"> </td>
<td class="number_1" style="padding-right:40px;"> </td>
<td class="number_1" style="padding-right:30px;"> </td>
</tr>
<tr>
<td class="date"> </td>
<td class="number_1"> </td>
<td class="rate_down" style="padding-right:35px;"> </td>
<td class="number_1"> </td>
<td class="number_1" style="padding-right:40px;"> </td>
<td class="number_1" style="padding-right:30px;"> </td>
</tr>
<tr><td class="blank_08" colspan="6"></td></tr>
<tr><td class="division_line" colspan="6"></td></tr>
<tr><td class="blank_08" colspan="6"></td></tr>
<tr>
</tr><tr>
<td class="date"> </td>
<td class="number_1"> </td>
<td class="rate_down" style="padding-right:35px;"> </td>
<td class="number_1"> </td>
<td class="number_1" style="padding-right:40px;"> </td>
<td class="number_1" style="padding-right:30px;"> </td>
</tr>
<tr>
<td class="date"> </td>
<td class="number_1"> </td>
<td class="rate_down" style="padding-right:35px;"> </td>
<td class="number_1"> </td>
<td class="number_1" style="padding-right:40px;"> </td>
<td class="number_1" style="padding-right:30px;"> </td>
</tr>
<tr>
<td class="date"> </td>
<td class="number_1"> </td>
<td class="rate_down" style="padding-right:35px;"> </td>
<td class="number_1"> </td>
<td class="number_1" style="padding-right:40px;"> </td>
<td class="number_1" style="padding-right:30px;"> </td>
</tr>
<tr><td class="blank_09" colspan="6"></td></tr>
<tr><td class="division_line" colspan="6"></td></tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/sise/sise_index_day.nhn?code=005930&amp;page=1">1</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
</div>
<!-- //일별시세 -->
</body>
</html>

In [113]:
page_pkg = sise_html.find_all("table",align="center")
page_pkg

[<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
 <caption>페이지 네비게이션</caption>
 <tr>
 <td class="on">
 <a href="/sise/sise_index_day.nhn?code=005930&amp;page=1">1</a>
 </td>
 </tr>
 </table>]

In [111]:
last_page_num = last_page_finder(sise_html)

IndexError: list index out of range

In [102]:
sise_exporter('KOSPI')

               날짜      체결가    전일비     등락률   거래량(천주)   거래대금(백만)
0             NaN      NaN    NaN     NaN       NaN        NaN
1      2019.07.30  2038.68   9.20  +0.45%  547029.0  3877489.0
2      2019.07.29  2029.48  36.78  -1.78%  596166.0  4626034.0
3      2019.07.26  2066.26   8.22  -0.40%  583332.0  5056450.0
4             NaN      NaN    NaN     NaN       NaN        NaN
5             NaN      NaN    NaN     NaN       NaN        NaN
6             NaN      NaN    NaN     NaN       NaN        NaN
7             NaN      NaN    NaN     NaN       NaN        NaN
8      2019.07.25  2074.48   7.82  -0.38%  590890.0  5126430.0
9      2019.07.24  2082.30  19.15  -0.91%  841580.0  4115461.0
10     2019.07.23  2101.45   8.11  +0.39%  640162.0  4523644.0
11            NaN      NaN    NaN     NaN       NaN        NaN
12            NaN      NaN    NaN     NaN       NaN        NaN
13            NaN      NaN    NaN     NaN       NaN        NaN
14     2019.07.22  2093.34   1.02  -0.05%  320412.0  3156360.0
15     2019.07.19  2094.36  27.81  +1.35%  386118.0  4037112.0
16     2019.07.18  2066.55   6.37  -0.31%  437178.0  3848957.0
17            NaN      NaN    NaN     NaN       NaN        NaN
18            NaN      NaN    NaN     NaN       NaN        NaN
19            NaN      NaN    NaN     NaN       NaN        NaN
20            NaN      NaN    NaN     NaN       NaN        NaN
21     2019.07.17  2072.92  18.95  -0.91%  752119.0  4549215.0
22     2019.07.16  2091.87   9.39  +0.45%  674500.0  5158374.0
23     2019.07.15  2082.48   4.18  -0.20%  455075.0  3656611.0
24            NaN      NaN    NaN     NaN       NaN        NaN
25            NaN      NaN    NaN     NaN       NaN        NaN
26            NaN      NaN    NaN     NaN       NaN        NaN
27     2019.07.12  2086.66   6.08  +0.29%  398353.0  3714594.0
28     2019.07.11  2080.58  21.80  +1.06%  368242.0  4934006.0
29     2019.07.10  2058.78   6.75  +0.33%  350018.0  3867014.0
...           ...      ...    ...     ...       ...        ...
16701  1990.01.18   874.81   0.40  +0.05%    9066.0   182555.0
16702  1990.01.17   874.41   9.02  -1.02%    6927.0   141562.0
16703         NaN      NaN    NaN     NaN       NaN        NaN
16704         NaN      NaN    NaN     NaN       NaN        NaN
16705         NaN      NaN    NaN     NaN       NaN        NaN
16706  1990.01.16   883.43   0.39  +0.04%   10384.0   216377.0
16707  1990.01.15   883.04  10.43  -1.17%    8854.0   184112.0
16708  1990.01.13   893.47   9.64  -1.07%    7384.0   156742.0
16709         NaN      NaN    NaN     NaN       NaN        NaN
16710         NaN      NaN    NaN     NaN       NaN        NaN
16711         NaN      NaN    NaN     NaN       NaN        NaN
16712         NaN      NaN    NaN     NaN       NaN        NaN
16713  1990.01.12   903.11   0.16  -0.02%   11627.0   250693.0
16714  1990.01.11   903.27   8.21  -0.90%   12647.0   274573.0
16715  1990.01.10   911.48   8.73  -0.95%   15278.0   322830.0
16716         NaN      NaN    NaN     NaN       NaN        NaN
16717         NaN      NaN    NaN     NaN       NaN        NaN
16718         NaN      NaN    NaN     NaN       NaN        NaN
16719  1990.01.09   920.21   0.75  +0.08%   18646.0   382992.0
16720  1990.01.08   919.46   6.60  +0.72%   17577.0   369946.0
16721  1990.01.06   912.86   2.25  -0.25%   12519.0   269397.0
16722         NaN      NaN    NaN     NaN       NaN        NaN
16723         NaN      NaN    NaN     NaN       NaN        NaN
16724         NaN      NaN    NaN     NaN       NaN        NaN
16725         NaN      NaN    NaN     NaN       NaN        NaN
16726  1990.01.05   915.11  13.71  -1.48%   22179.0   476295.0
16727  1990.01.04   928.82  20.23  +2.23%   18094.0   405061.0
16728         NaN      NaN    NaN     NaN       NaN        NaN
16729         NaN      NaN    NaN     NaN       NaN        NaN
16730         NaN      NaN    NaN     NaN       NaN        NaN

[16731 rows x 6 columns]

In [108]:
sise_exporter('005930')

IndexError: list index out of range

In [ ]:
sise_df = pd.DataFrame()
for i in input_code :
    sise_url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=' + i
    sise_html = BeautifulSoup(urlopen(sise_url).read(), 'lxml') #html.parser
    last_page_num = last_page_finder(sise_html)
    for j in range(1, last_page+1) :
        url = (f'{sise_url}&page={i}')
        sise_df = sise_df.append(pd.read_html(url, header=0)[0], ignore_index=True)

In [14]:
sise_url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=' + item_code

In [15]:
source_html = BeautifulSoup(urlopen(sise_url).read(), 'lxml') #html.parser

In [16]:
last_page = last_page_finder(source_html)

In [17]:
sise_df = pd.DataFrame()

In [18]:
for i in range(1, last_page+1):
    url = (f'{sise_url}&page={i}')
    sise_df = sise_df.append(pd.read_html(url, header=0)[0], ignore_index=True)

sise_df

               날짜      체결가    전일비     등락률   거래량(천주)   거래대금(백만)
0             NaN      NaN    NaN     NaN       NaN        NaN
1      2019.07.29  2029.48  36.78  -1.78%  608670.0  4681216.0
2      2019.07.26  2066.26   8.22  -0.40%  583332.0  5056450.0
3      2019.07.25  2074.48   7.82  -0.38%  590890.0  5126430.0
4             NaN      NaN    NaN     NaN       NaN        NaN
5             NaN      NaN    NaN     NaN       NaN        NaN
6             NaN      NaN    NaN     NaN       NaN        NaN
7             NaN      NaN    NaN     NaN       NaN        NaN
8      2019.07.24  2082.30  19.15  -0.91%  841580.0  4115461.0
9      2019.07.23  2101.45   8.11  +0.39%  640162.0  4523644.0
10     2019.07.22  2093.34   1.02  -0.05%  320412.0  3156360.0
11            NaN      NaN    NaN     NaN       NaN        NaN
12            NaN      NaN    NaN     NaN       NaN        NaN
13            NaN      NaN    NaN     NaN       NaN        NaN
14     2019.07.19  2094.36  27.81  +1.35%  386118.0  4037112.0
15     2019.07.18  2066.55   6.37  -0.31%  437178.0  3848957.0
16     2019.07.17  2072.92  18.95  -0.91%  752119.0  4549215.0
17            NaN      NaN    NaN     NaN       NaN        NaN
18            NaN      NaN    NaN     NaN       NaN        NaN
19            NaN      NaN    NaN     NaN       NaN        NaN
20            NaN      NaN    NaN     NaN       NaN        NaN
21     2019.07.16  2091.87   9.39  +0.45%  674500.0  5158374.0
22     2019.07.15  2082.48   4.18  -0.20%  455075.0  3656611.0
23     2019.07.12  2086.66   6.08  +0.29%  398353.0  3714594.0
24            NaN      NaN    NaN     NaN       NaN        NaN
25            NaN      NaN    NaN     NaN       NaN        NaN
26            NaN      NaN    NaN     NaN       NaN        NaN
27     2019.07.11  2080.58  21.80  +1.06%  368242.0  4934006.0
28     2019.07.10  2058.78   6.75  +0.33%  350018.0  3867014.0
29     2019.07.09  2052.03  12.14  -0.59%  433474.0  4361543.0
...           ...      ...    ...     ...       ...        ...
16701  1990.01.17   874.41   9.02  -1.02%    6927.0   141562.0
16702  1990.01.16   883.43   0.39  +0.04%   10384.0   216377.0
16703         NaN      NaN    NaN     NaN       NaN        NaN
16704         NaN      NaN    NaN     NaN       NaN        NaN
16705         NaN      NaN    NaN     NaN       NaN        NaN
16706  1990.01.15   883.04  10.43  -1.17%    8854.0   184112.0
16707  1990.01.13   893.47   9.64  -1.07%    7384.0   156742.0
16708  1990.01.12   903.11   0.16  -0.02%   11627.0   250693.0
16709         NaN      NaN    NaN     NaN       NaN        NaN
16710         NaN      NaN    NaN     NaN       NaN        NaN
16711         NaN      NaN    NaN     NaN       NaN        NaN
16712         NaN      NaN    NaN     NaN       NaN        NaN
16713  1990.01.11   903.27   8.21  -0.90%   12647.0   274573.0
16714  1990.01.10   911.48   8.73  -0.95%   15278.0   322830.0
16715  1990.01.09   920.21   0.75  +0.08%   18646.0   382992.0
16716         NaN      NaN    NaN     NaN       NaN        NaN
16717         NaN      NaN    NaN     NaN       NaN        NaN
16718         NaN      NaN    NaN     NaN       NaN        NaN
16719  1990.01.08   919.46   6.60  +0.72%   17577.0   369946.0
16720  1990.01.06   912.86   2.25  -0.25%   12519.0   269397.0
16721  1990.01.05   915.11  13.71  -1.48%   22179.0   476295.0
16722         NaN      NaN    NaN     NaN       NaN        NaN
16723         NaN      NaN    NaN     NaN       NaN        NaN
16724         NaN      NaN    NaN     NaN       NaN        NaN
16725         NaN      NaN    NaN     NaN       NaN        NaN
16726  1990.01.04   928.82  20.23  +2.23%   18094.0   405061.0
16727         NaN      NaN    NaN     NaN       NaN        NaN
16728         NaN      NaN    NaN     NaN       NaN        NaN
16729         NaN      NaN    NaN     NaN       NaN        NaN
16730         NaN      NaN    NaN     NaN       NaN        NaN

[16731 rows x 6 columns]

In [19]:
sise_df = sise_df.dropna(axis=0)
sise_df[-5:]

               날짜     체결가    전일비     등락률  거래량(천주)  거래대금(백만)
16715  1990.01.09  920.21   0.75  +0.08%  18646.0  382992.0
16719  1990.01.08  919.46   6.60  +0.72%  17577.0  369946.0
16720  1990.01.06  912.86   2.25  -0.25%  12519.0  269397.0
16721  1990.01.05  915.11  13.71  -1.48%  22179.0  476295.0
16726  1990.01.04  928.82  20.23  +2.23%  18094.0  405061.0

In [20]:
type(sise_df['체결가'].values[0])

numpy.float64

In [21]:
sise_df['날짜'] = pd.to_datetime(sise_df['날짜'])

C:\Anaconda3\envs\DT_Academy\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
sise_df['등락률'] = sise_df['등락률'].map(lambda x: float(x.split("%")[0].strip()))

C:\Anaconda3\envs\DT_Academy\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
sise_df.dtypes

날짜          datetime64[ns]
체결가                float64
전일비                float64
등락률                float64
거래량(천주)            float64
거래대금(백만)           float64
dtype: object

In [24]:
sise_df[-5:]

              날짜     체결가    전일비   등락률  거래량(천주)  거래대금(백만)
16715 1990-01-09  920.21   0.75  0.08  18646.0  382992.0
16719 1990-01-08  919.46   6.60  0.72  17577.0  369946.0
16720 1990-01-06  912.86   2.25 -0.25  12519.0  269397.0
16721 1990-01-05  915.11  13.71 -1.48  22179.0  476295.0
16726 1990-01-04  928.82  20.23  2.23  18094.0  405061.0

In [25]:
sise_save = 'data/sise_list/' + item_code + '_' + date_key + '.csv'
sise_save

'data/sise_list/KOSPI_190729.csv'

In [26]:
sise_df.to_csv(sise_save, encoding='euc-kr', index=False) #cp949
print('save >> ' + sise_save)

save >> data/sise_list/KOSPI_190729.csv